---
layout: default
title: Projects Ideas
---
<h1>Projects ideas</h1>
<p>
  This site hosts a list of project ideas suitable for a bachelor's or master's thesis. 
  Feel free to contact me should you find any of them interesting.
</p>
<p>
  While the bachelor's thesis can be research or implementation-based, the master's thesis is expected to be research-based.
  In other words, the author of the master's thesis should deal with higher risk connected with exploring the unknown.
  With that said, it is still possible to have an implementation-based master thesis.
  I suggested expected type using tags attached to each entry.
</p>
<p>
  If you are not sure what a bachelor's or master's thesis looks like, feel free to read my notes on <a href="{{site.baseurl}}/závěrečné-práce/" target="_blank">final thesis (CS only)</a>.
</p>
<p>
  I do my best to keep the list up to date.
  For some topics, there is space for multiple theses.
  As a result, more than one student can work on a thesis inspired by the same idea.
  The "Under&nbsp;negotiation" tag means that I've been contacted by a student who expressed interest in the given topic.
  As a result the topic, or its part, may become unavailable to other students.
</p>
<div>
  {% assign posts = site.posts | where: "category", "projects-ideas" %}
  {% for post in posts %}
  {% if post.tags contains 'Not available' %}
  {% else %}
  <article class="card my-2">
    <div class="card-body">
      <div>
        <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
      </div>
      <div>
        {% for tag in post.tags %}
        <span class="badge bg-pill bg-secondary me-1">{{ tag }}</span>
        {% endfor %}
      </div>
      <div>
        {{ post.excerpt }}
      </div>
    </div>
  </article>
  {% endif %}
  {% endfor %}
  <article class="card my-2">
    <div class="card-body">
      <div>
        <a href="">These are not the droids you're looking for ...</a>
      </div>
      <div>
        If you do not find the above topics interesting, you can still pitch me yours.
        Yet be aware that I probably prefer my topics.
        Therefore make sure your topic is a good one.
      </div>
    </div>
  </article>
</div>
