<div class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container">
    <a href="{{site.url}}" class="navbar-brand">
      Škoda Petr
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{site.baseurl}}/projects-ideas" class="nav-link">Project ideas</a>
        </li>
        <li class="nav-item">
          <a href="{{site.baseurl}}/resources" class="nav-link">Resources</a>
        </li>
      </ul>
      <div class="me-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="https://github.com/skodapetr" class="nav-link">GitHub</a>
        </li>
        <li class="nav-item">
          <a href="https://scholar.google.cz/citations?user=jHtvaXEAAAAJ" class="nav-link">Google Scholar</a>
        </li>
        <li class="nav-item">
          <a href="https://orcid.org/0000-0002-2732-9370" class="nav-link">ORCID</a>
        </li>
        <li class="nav-item">
          <a href="https://www.mff.cuni.cz/en/faculty/organizational-structure/people?hdl=7952" class="nav-link">Charles University</a>
        </li>
      </ul>
    </div>
  </div>
</div>
