:root {
	--text-color: black;
	--background-color: white;
	--background-color-ascend: white;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fbfbfb;
		--background-color: #282828;
		--background-color-ascend: #303030;

		--link-color: #00bc8c;
		--link-hover-color: #20c997;
	}
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Header */

header {
	background-color: var(--background-color-ascend);
}

header nav {
	display: flex;
	align-items: center;

	& .links {
		display: flex;
		gap: 2rem;
	}
}

/* Main */

body main {
	flex-grow: 1;
}

/* Footer */

footer {
	padding-top: 1rem;
	background-color: var(--background-color-ascend);
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer .social-links {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

footer .footer-notice {
	padding: .25rem 0;
}

/* Layout */

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* Components */

pre {
	padding: .75rem 0 .75rem 1rem;
}

.nav-link {
	color: var(--text-color);
	text-decoration: none;
}

a {
	color: var(--link-color);

	&:hover {
		color: var(--link-hover-color);
	}
}

body {
	font-size: 16px;
}

h2 {
	font-size: 150%;
}

h1 {
	font-size: 200%;
}

.card {
	background-color: var(--background-color-ascend);
	padding: 0.5em .75em;
	margin: .75em 0;
}

/* Utility classes */

.danger {
	color: #fd0000;
}

.sr-only {
	/* Content for screen readers. */
	display: none;
}

.mx-auto {
	margin: 0 auto;
}

.list-none {
	list-style-type: none
}

.p-0 {
	padding: 0;
}

.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.m-0 {
	margin: 0;
}

.my-2 {
	margin: 0.5rem 0;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.no-underline {
	text-decoration: none;
}

.flex  {
	display: flex;
}

.flex-row  {
	flex-direction: row;
}

.grow {
	flex-grow: 1;
}

.items-end {
	align-items: end;
}

.gap-1 {
	gap: 0.25rem;
}

.rounded-md {
	border-radius: 0.375rem;
}

.border {
	border-width: 1px;
}

.border-color {
	border-color: var(--text-color);
}

.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.shadow-md {
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.bg {
	background-color: var(--background-color);
}

.bg-ascend {
	background-color: var(--background-color-ascend);
}
