---
import { getCollection } from "astro:content";
import Layout from "../layouts/BaseLayout.astro";
import PostItem from "../components/PostItem.astro";

const posts = (await getCollection("post")).reverse();
---
<Layout
	language="en"
	title="Škoda Petr"
	description="List of all my posts."
	className="container"
>
	<p>
		This is listing of all posts.
		Please keep in mind that some of them may not be relevant anymore.
	</p>
	<div>
		<b>Disclaimer:</b>
		<a href="./disclaimer" class="no-underline danger">There is no quality control.</a>
	</div>
	<section>
		<ul class="list-none p-0">
			{posts.map((post) => (
				<li>
					<PostItem post={post} renderDate={true}/>
				</li>
			))}
		</ul>
	</section>
</Layout>
