---
import Layout from "../../layouts/BaseLayout.astro";
---
<Layout
  language="en"
  title="Bachelor thesis"
  description="Information about bachalor thesis."
  className="container"
>
  <h1>Bachelor thesis</h1>
  <p>
    <b>Disclaimer</b>:
    <span class="danger">This is not an official guideline!</span>
  </p>
  <p>
    Information on this and related pages is designated for my students.
    In addition, rules and recommendations should not be applied without considering a particular thesis.
    Ask your supervisor for more information or advice.
  </p>
  <p>
    First, we need to acknowledge that the thesis can be of a different types.
  </p>
  <ul>
    <li>Implementation - the objective is to implement a software.</li>
    <li>Experimental - the objective is to perform an experiment or try something new and evaluate it.</li>
    <li>Theoretical - advancing knowledge on the theoretical level.</li>
  </ul>
  <p>
    It may be temping to say that a thesis must be one of the above.
    Yet, most thesis exists on a spectrum.
    A typical that I would supervise is between implementation and experimental.
  </p>
  <p>
    In general, the more experimental, the greater risk the author is expected to deal with.
    The risk may be a design of a new query language, a universal data model, or the use of immature technology.
    The risk often manifests in a higher unpredictability of the amount of work to get things done.
    For example, the library we plan to use may work just fine, or not.
    And if not, we may need to spend considerable time with a workaround.
  </p>
  <p>
    I put together a few pages that may help you out:
  </p>
  <ul>
    <li>
      <a href="./getting-started">Getting started</a>
    </li>
    <li>
      <a href="./software-quality">Software quality</a>
    </li>
    <li>
      <a href="./text-quality">Text quality</a>
    </li>
    <li>
      <a href="./text-structure">Text structure</a>
    </li>
    <li>
      <a href="./poster">Poster</a>
    </li>
  </ul>
  <p>
    If you are my student they are all mandatory to read!
    Start with the first one, then read all the other as well.
  </p>
</Layout>
