---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<nav class="container">
		<h2 class="logo"><a href="/" class="nav-link">{SITE_TITLE}</a></h2>
		<div class="mx-auto"/></div>
		<div class="links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/project-ideas">Project ideas</HeaderLink>
			<HeaderLink href="/bachelor-thesis/">Bachelor thesis</HeaderLink>
		</div>
	</nav>
</header>

<style>

</style>
