<!DOCTYPE html>
<html lang="{% if page.language %}{{page.language}}{% else %}{{site.language}}{% endif %}" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="stylesheet" href="/assets/bootstrap-darkly.css"/>
</head>

<body class="d-flex flex-column h-100">
  <header>
    {% include header.html %}
  </header>
  <main>
    {{ content }}
  </main>
  <footer class="mt-auto">
    {% include footer.html %}
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>
